body {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1rem;
}

header {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

h2 {
    font-size: 2rem;
    color: #2a9d8f;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.2rem;
    color: #264653;
    margin-top: 0.5rem;
}

main {
    background-color: #ffffff;
    border: 2px solid #2a9d8f;
    border-radius: 1em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    font-size: 1rem;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
    resize: none;
    outline: none;
}

button#mensagem {
    background-color: #2a9d8f;
    border: none;
    border-radius: 50%;
    padding: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#mensagem:hover {
    background-color: #21867a;
}

.icone-enviar {
    width: 24px;
    height: 24px;
}

.resposta {
    width: 100%;
    min-height: 100px;
    background-color: #e9f5f3;
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}

#resposta-da-ia {
    max-height: 370px;
}

/* Regras para dispositivos menores */
@media (max-width: 600px) {
    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    button#mensagem {
        padding: 0.6em;
    }

    .icone-enviar {
        width: 20px;
        height: 20px;
    }

    #resposta-da-ia {
        max-height: 250px;
    }
}

@media (max-width: 900px) {
    main {
        max-width: 300px;

    }

}
